
.exchange-rates {
  min-width: 300px;
  min-height: 260px;
  max-width: 300px;
  max-height: 260px;
  margin: 0px 10px 20px 10px;

  select {
    margin: 10px;
    
    option {
      background: rgb(215, 215, 215);
      color: #000000;
    }
  }

  table {
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
    td {
      border-bottom: 1px solid #ccc;
      color: #5252ad;
      padding: 9px 8px;
      transition: .3s linear;
    }
  }

  .course-header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0px 10px 0px 10px;
  }

  .course-rate {
    margin: 10px;
  }
}


















