
.theme-switch {
	input[type="checkbox"] {
		width: 50px;
		height: 25px;
		margin-left: 10px;
		-webkit-appearance: none;
		-moz-appearance: none;
		background: #c6c6c6;
		outline: none;
		border-radius: 50px;
		box-shadow: inset 0 0 5px rgba(0,0,0, .2);
		transition: 0.5s;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			top: 0;
			left: 0;
			background: #242424;
			transform: scale(1.1);
			box-shadow: 0 2px 5px rgba(0,0,0, .2);
			transition: 0.5s;
		}

		&:checked[type="checkbox"] {
			background: #C6C6C6;

			&::before {
				left: 25px;
			}
		}
	}
}





