
$bgcolorlight: rgb(215, 215, 215);

%infullscreen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
}

* { 
  background-color: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  font-size: 18px;
}

.app {
  .main {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  } 
}

/*зміна теми */

.light {
  @extend %infullscreen;
  background: $bgcolorlight;
}

.night {
  @extend %infullscreen;
  filter: invert(100%);
  background: $bgcolorlight;
}

/*центрирование контента*/

@media (min-width: 375.98px){
  section {
    padding: 0 calc(50% - 370px);
  }

  .main {
    justify-content: center;
  }
}

@media (min-width: 767.98px){
  section {
    padding: 0 calc(50% - 360px);
  }
  
  .main {
    flex-wrap: nowrap;
  }
}

@media (min-width: 991.98px) {
  section {
    padding: 0 calc(50% - 480px);
  }
  .main {
    flex-wrap: nowrap;
  }
  
}

@media (min-width: 1199.98px){
  section {
    padding: 0 calc(50% - 590px);
  }
  .main {
    flex-wrap: nowrap;
  }
}

