

html {
  height: 100%; 

}


body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
	background: rgb(215, 215, 215);
  font-size: 18px;

}

.main {
	display: flex;
	align-items: flex-start;
  flex-wrap: wrap;
}

 /*центрирование контента*/

section{
  padding: 0 15px;
  background: rgb(215, 215, 215);
}

@media (min-width: 375.98px){
  section {
    padding: 0 calc(50% - 370px);
  }

  .main {
    justify-content: center;
  }
}

@media (min-width: 767.98px){
  section {
    padding: 0 calc(50% - 360px);
  }
 
  .main {
    flex-wrap: nowrap;
  }
}

@media (min-width: 991.98px) {
  section {
    padding: 0 calc(50% - 480px);
  }
  .main {
    flex-wrap: nowrap;
  }
 
}

@media (min-width: 1199.98px){
  section {
    padding: 0 calc(50% - 590px);
  }
  .main {
    flex-wrap: nowrap;
  }
}