
#header ul {
  padding-left: 0;
}

#header a {
	align-self: start;
}

.nav-main li {
  display: inline-block;
}

.nav {
  justify-self: start;  /* вдоль главной оси (горизонтальная) */
}

.switch-theme {
  /* justify-self: end; */
}

.nav-main a {
  padding: 10px 20px;
  margin: 5px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border: 2px solid #000;
}

.nav-main a:hover {
  color: #fff;
  background: #000;
}







